@model SiliconAward.ViewModels.SetPasswordViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<style>
    .material-icons {
        font-size: 16px;
    }
    input[type=password]{
        text-align:left !important;
    }
</style>
<div class="box box-info">
    <div class="box-header with-border">
        <h3 style="display: block;" class="box-title">کلمه عبور</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form asp-controller="Account" asp-action="SetPassword"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.Password)</label>
                <div class="col-sm-6">
                    <input asp-for="Password" style="text-align:left;" data-toggle="password"
                           data-placement="before"
                           class="form-control"
                           type="password"
                           data-eye-class="material-icons"
                           data-eye-open-class="visibility"
                           data-eye-close-class="visibility_off"
                           data-eye-class-position-inside="true">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-sm-6 control-label">@Html.DisplayNameFor(model => model.ConfirmPassword)</label>
                <div class="col-sm-6">
                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="box-footer">

            <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال</button>
        </div>
        <!-- /.box-footer -->
        @Html.HiddenFor(model=>model.Phone)
    </form>
</div>

<!-- /.box-body -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
$('[data-attr="show-password"]').password({
      placement: 'before',
      eyeClass: 'material-icons',
      eyeOpenClass: 'visibility',
      eyeCloseClass: 'visibility_off',
      eyeClassPositionInside: true
    })</script>