@model SiliconAward.Models.CompetitionBranch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>حذف شاخه رقابت</h2>

<h3>آیا مطمئن هستید</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompetitionField)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompetitionField.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-default" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
