@model IEnumerable<SiliconAward.ViewModels.StatusViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>فهرست</h2>

<p>
    <a asp-action="Create">افزودن</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StatusId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.StatusId">جزئیات</a> @*|
                <a asp-action="Delete" asp-route-id="@item.StatusId">حذف</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
